* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

:root {
	--font-heading: "Sen", sans-serif;
	--primary-color: #ffb900;
}

body {
	font-size: 1.6rem;
	font-family: "Poppins", sans-serif;
}

/* Common */
a {
	text-decoration: none;
}

.main-content {
	width: 1170px;
	max-width: calc(100% - 48px);
	margin-left: auto;
	margin-right: auto;
}

.btn {
	display: inline-block;
	padding: 0 16px;
	min-width: 118px;
	line-height: 50px;
	font-weight: 600;
	font-size: 1.6rem;
	text-align: center;
	color: #ffffff;
	background: #171100;
	border-radius: 999px;
}

.btn:hover {
	opacity: 0.9;
	cursor: pointer;
}

.heading {
	font-family: var(--font-heading);
	font-weight: 700;
	letter-spacing: -0.02em;
	color: #171100;
}

.heading.h1v1 {
	font-size: 5.8rem;
	line-height: 1.17;
}

.heading.h1v2 {
	font-size: 3.8rem;
	line-height: 1.26;
}

.line-clamp {
	display: -webkit-box;
	-webkit-line-clamp: var(--line-clamp, 1);
	-webkit-box-orient: vertical;
	overflow: hidden;
	word-break: break-word;
}

.line-clamp.line-2 {
	--line-clamp: 2;
}

/* #region Header */
.header {
	background: #fffcf4;
}

.header.fixed {
	position: sticky;
	top: -28px;
	z-index: 1;
}
.header .body {
	display: flex;
	align-items: center;
	padding: 36px 0 8px;
}

.navbar {
	margin-left: auto;
}

.navbar ul {
	display: flex;
}

.navbar a {
	padding: 8px 21px;
	font-size: 1.6rem;
	color: #5f5b53;
}

.navbar a:hover,
.navbar li.active a {
	position: relative;
	text-shadow: 1px 0 0 currentColor;
	color: #171100;
}
.navbar li.active a::after {
	content: "";
	display: block;
	position: absolute;
	bottom: 6px;
	left: 21px;
	width: 12px;
	height: 2px;
	background: #171100;
	border-radius: 1px;
}

.action {
	margin-left: 49px;
}

.action .btn-sign-up {
	min-width: 144px;
}

/* #endregion */

/* #region Hero */
.hero {
	background: #fffcf4;
	padding: 56px 0 65px;
}

.hero .body {
	display: flex;
}

/* Hero Left */
.hero-image {
	position: relative;
	width: 48%;
}

.hero-image .img {
	display: block;
	width: 470px;
	height: 685px;
	object-fit: cover;
	border-radius: 20px;
	vertical-align: bottom;
}

.hero-summary {
	position: absolute;
	right: 0;
	bottom: 48px;
	padding: 24px;
	width: 270px;
	background: #ffffff;
	box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
	border-radius: 12px;
}

.hero-summary .item {
	display: flex;
	align-items: center;
}

.hero-summary .icon {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff9e8;
}

.hero-summary .item:nth-of-type(2) .icon {
	background: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
	background: #ebeaff;
}

.hero-summary .item + .item {
	margin-top: 14px;
}

.hero-summary .info {
	margin-left: 16px;
}

.hero-summary .label {
	font-size: 1.4rem;
	line-height: 1.86;
	color: #5f5b53;
}

.hero-summary .title {
	font-weight: 600;
	font-size: 1.8rem;
	line-height: 1.67;
	color: #171100;
}

/* Hero Right */
.hero-content {
	width: 52%;
	padding: 64px 0 0 130px;
}

.hero-content .desc {
	margin-top: 22px;
	font-size: 1.8rem;
	line-height: 1.67;
	color: #5f5b53;
}

.hero-content .cta-group {
	margin: 38px 0 48px;
	display: flex;
	align-items: center;
}

.hero-content .cta-group .btn-courses {
	min-width: 180px;
	background: var(--primary-color);
	line-height: 64px;
}

.hero-content .cta-group .watch-video {
	display: flex;
	align-items: center;
	margin-left: 28px;
	background: transparent;
	border: none;
	cursor: pointer;
}
.hero-content .cta-group .icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #ffffff;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero-content .cta-group span {
	font-family: "Poppins", sans-serif;
	margin-left: 14px;
	font-weight: 600;
	font-size: 1.8rem;
	color: #171100;
}

.hero-content .stats {
	margin: 8px 0 0 -28px;
}

.hero-content strong {
	margin: 0 8px 0 28px;
	font-family: var(--font-heading);
	font-style: normal;
	font-weight: 700;
	font-size: 4.4rem;
	line-height: 1.23;
	color: #171100;
}
/* #endregion */

/* #region Popular */
.popular {
	margin-top: 135px;
	padding: 65px 0;
}

/* popular-top */
.popular .popular-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.popular-top .info .desc {
	margin-top: 16px;
	width: 458px;
	font-size: 1.8rem;
	line-height: 1.67;
	color: #5f5b53;
}

.popular-top .controls {
	display: flex;
	gap: 18px;
}

.popular-top .controls .control-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: transparent;
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
	cursor: pointer;
}

.popular-top .controls .control-btn:hover {
	background: var(--primary-color);
	color: #fff;
}

/* Popular List */
.popular-list {
	display: flex;
	margin-top: 55px;
	gap: 30px;
}

.popular-list .popular-item {
	flex: 1;
	background: #fff;
	border: 1px solid #e2dfda;
	border-radius: 12px;
}

.popular-list .popular-item:hover {
	border-color: transparent;
	box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}
.popular-list .popular-item .thumb {
	margin: -1px;
	width: calc(100% + 2px);
	height: 278px;
	object-fit: cover;
	border-radius: 12px 12px 0px 0px;
}

.popular-list .popular-item .info {
	margin: 16px 22px 22px;
}
.popular-list .popular-item .rating,
.popular-list .popular-item .foot,
.popular-list .popular-item .head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.popular-list .popular-item .title a {
	padding-right: 6px;
	font-weight: 600;
	font-size: 1.8rem;
	line-height: 1.67;
	color: #171100;
}

.popular-list .popular-item .value {
	margin-left: 6px;
	font-weight: 400;
	font-size: 1.6rem;
	color: #fea31b;
}

.popular-list .popular-item .desc {
	margin-top: 6px;
	font-size: 1.4rem;
	line-height: 1.86;
	color: #5f5b53;
}

.popular-list .popular-item .foot {
	margin-top: 12px;
}

.popular-list .popular-item .price {
	font-weight: 600;
	font-size: 1.8rem;
	color: #171100;
}

.popular-list .popular-item .book-btn {
	border: none;
}

.popular-list .popular-item .book-btn:hover {
	background: var(--primary-color);
}
/* #endregion */

/* #region Feedback */
.feedback {
	margin-top: 135px;
	padding: 96px 0;
	background: #2e2100;
}

.feedback .feedback-list {
	display: flex;
	overflow: hidden;
}

.feedback .feedback-list .feedback-item {
	display: flex;
	align-items: center;
	flex-shrink: 0;
	width: 100%;
}

.feedback .feedback-item .info {
}

.feedback .info .avatar {
	width: 72px;
	height: 72px;
	object-fit: cover;
	border-radius: 50%;
}

.feedback .info .title {
	margin-top: 18px;
	font-family: var(--font-heading);
	font-weight: 700;
	font-size: 2.4rem;
	line-height: 1.42;
	color: #f7f7f7;
}

.feedback .info .desc {
	margin-top: 4px;
	font-size: 1.4rem;
	line-height: 1.86;
	color: #bfbcb3;
}

.feedback .info .dots {
	display: flex;
	margin-top: 28px;
}

.feedback .info .dot {
	margin-right: 6px;
	width: 6px;
	height: 6px;
	background: #634700;
	border-radius: 50%;
	cursor: pointer;
}

.feedback .info .dot.active {
	cursor: default;
	background: var(--primary-color);
}

.feedback .feedback-item .content {
	margin-left: auto;
	width: 66%;
}

.feedback .content blockquote {
	padding-left: 30px;
	font-style: italic;
	font-size: 2.6rem;
	line-height: 1.54;
	color: #ffffff;
}
/* #endregion */
